/* App.css */

/* Style the container for padding and centered content */
.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Custom styles for the header */
header {
  margin-top: 00px; /* Adjust the value to control the space */
  padding: 120px;
  text-align: center;
  background-color: #f8f9fa;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header p.lead {
  font-size: 1.2rem;
  color: #6c757d;
}


/* Card styling for projects */
.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

/* Footer styling */
footer {
  background-color: #f8f9fa;
  padding: 15px;
  font-size: 0.9rem;
  color: #777;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Navbar styling */
.custom-navbar {
  background-color: #343a40;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.custom-navbar .navbar-brand {
  color: #ffffff !important;
  font-size: 1.5rem;
}

.custom-navbar .navbar-collapse {
  display: flex;
  width: 100%;
  margin-right: 170px;
}

.custom-navbar .navbar-nav {
  display: flex;
  justify-content: center; /* Center the nav items horizontally */
}

.custom-navbar .nav-item {
  margin: 0 15px;
}

.custom-navbar .nav-link {
  color: #ffffff !important;
  font-size: 1.2rem;
}

.custom-navbar .nav-link:hover {
  color: #ffc107 !important;
}

.navbar .nav-link.active {
  background-color: #ffc107; /* Highlight color */
  color: #343a40 !important;
  border-radius: 4px;
}

@media (max-width: 768px) {
  .custom-navbar .nav-item {
    margin: 0 15px;
  }
}


.project-content {
  padding: 20px;
}

.image-placeholder, .model-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #555;
}
